{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h2>Welcome back, {{ account['patient_firstname'] }}!</h2>

<div class="image">
    <h1>Submit your sample for Diagnosis</h1>
    {% if image_path != None %}
        <img src="/{{ image_path }}" alt="Italian Trulli" width="250" height="200">
        <p style="color:green;">Diagnosis:{{ account['diagnosis'] }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('diagnose') }}"> <!--action="/show_data"    -->
        <input type="file" id="myFile" name="uploaded-file" accept=".nii">
        <input type="submit" value="Submit">
    </form>
    <p style="color:green;">{{ msg }}</p>
</div>
<div>
    <table>
        <thead>
        <tr>
            {% for header in headings %}
            <th>{{header}}</th>
            {% endfor %}
        </tr>
        </thead>

        {% for row in data %}
        <tbody>
        <tr>
            {% for cell in row %}
            <th>{{cell}}</th>
            {% endfor %}
        </tr></tbody>

        {% endfor %}
    </table>
</div>
{% endblock %}