{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Your Profile</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ account['patient_firstname']}} {{ account['patient_lastname'] }}</td>
        </tr>
        <tr>
            <td>Phone No:</td>
            <td>{{ account['phone'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{{ account['gender'] }}</td>
        </tr>
        <tr>

            <td>Diagnosis:</td>
            <td if="${ account['diagnosis'] } == NULL">Please upload your sample file to check diagnosis</td>
            <td if="${ account['diagnosis'] } != NULL">{{ account['diagnosis'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}